{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
{% load mptt_tags %}





<div class="row">
  <div class="col-md-12">
    <div class="card card-lavender">
      <div class="card-header">
        <h3 class="card-title" dir="rtl" align="center"> دسته بندی ها </h3>
      </div>
    </div>
  </div>
</div>







<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">

          <ul>
              {% recursetree category %}
                  <li>
                    <a href="{{ node.get_absolute_url }}"> {{ node.name }} </a>
                      {% if not node.is_leaf_node %}
                          <ul>
                              {{ children }}
                          </ul>
                      {% endif %}
                  </li>
              {% endrecursetree %}
          </ul>

      </div>
    </div>
  </div>
</div>












{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
{% endblock javascripts %}
