{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
{% load mptt_tags %}





<div class="row">
  <div class="col-md-12">
    <div class="card card-lavender">
      <div class="card-header">
        <h3 class="card-title" dir="rtl" align="center"> سازنده ها </h3>
      </div>
    </div>
  </div>
</div>










<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">

               {% for Manufacturer in manufacturers %}
               <hr>
                <a href="{{ Manufacturer.get_absolute_url }}"> <h4> &nbsp;&nbsp;&nbsp;&nbsp;{{ Manufacturer.Name }} </h4> </a>
               {% endfor%}

      </div>
    </div>
  </div>
</div>








{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>





    $("#eg1 li ul").slideToggle(); // hide all nested lists
    $("#eg1 li ul").prev("a").click(function(){ // add fn to list items that have a nested list
        $(this).next("ul").slideToggle(100); // show/hide the nested list
        return false; // prevent scrolling
    });





    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
{% endblock javascripts %}
