{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
{% load mptt_tags %}





<div class="row">
  <div class="col-md-12">
    <div class="card card-lavender">
      <div class="card-header">
        <h3 class="card-title" dir="rtl" align="center"> محصولات </h3>
      </div>
    </div>
  </div>
</div>







<div class="row">
  <div class="col-md-12">
    <div class="card" align="right" dir="rtl">
      <div class="card-header"> لیست تمامی محصولات </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter text-center" id="">
            <thead class=" text-primary">
              <tr class="bold">
                <th>
                  نام
                </th>
                <th>
                  توضیحات
                </th>
                <th>
                  تصویر
                </th>
              </tr>
            </thead>
            <tbody>
            {% for Product in products %}
              <tr>
                <td><a href="{{ Product.get_absolute_url }}"> {{ Product.Name }} </a></td>
                <td> {{ Product.Description|slice:":80" }}... </td>
                <td> <div class="photo"> <img src="{{ Product.Image.url }}"> </div> </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>











{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>



    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
{% endblock javascripts %}
