{% extends 'layouts/base.html' %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


{% if messages %}
{% for k in messages %}
<br> <br>
<h5 dir="rtl" align="center"> {{k}} </h5>
{% endfor %}
{% endif %}




{% if sr %}


  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header ">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-zoom-split text-primary"></i> موارد پیدا شده </h3>
            <br>
          </div>
        </div>
        <div class="card-body" align="right" dir="rtl">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>

                {% for Mold in sr %}
                <tr>
                  <td>
                    <p class="title"> <a href="{{ Mold.get_absolute_url }}"> {{ Mold.Name }} </a>  </p>
                  </td>
                  <td>
                    <p class="text-muted"> {{ Mold.Description|slice:":120" }}... </p>
                  </td>
                </tr>
                {% endfor %}

                {% for Product in sr %}
                <tr>
                  <td>
                    <p class="title"> <a href="{{ Product.get_absolute_url }}"> {{ Product.Name }} </a>  </p>
                  </td>
                  <td>
                    <p class="text-muted"> {{ Product.Description|slice:":120" }}... </p>
                  </td>
                </tr>
                {% endfor %}

                {% for Manufacturer in sr %}
                <tr>
                  <td>
                    <p class="title"> <a href="{{ Manufacturer.get_absolute_url }}"> {{ Manufacturer.Name }} </a>  </p>
                  </td>
                  <td>
                    <p class="text-muted"> {{ Manufacturer.Description|slice:":120" }}... </p>
                  </td>
                </tr>
                {% endfor %}

                {% for Repair_request in sr %}
                <tr>
                  <td>
                    <p class="title"> <a href="{{ Repair_request.get_absolute_url }}"> تعمیر {{ Repair_request }} </a>  </p>
                  </td>
                  <td>
                    <p class="text-muted"> {{ Repair_request.Description|slice:":120" }}... </p>
                  </td>
                </tr>
                {% endfor %}

                {% for Manufacture_request in sr %}
                <tr>
                  <td>
                    <p class="title"> <a href="{{ Manufacture_request.get_absolute_url }}"> ساخت {{ Manufacture_request }} </a>  </p>
                  </td>
                  <td>
                    <p class="text-muted"> {{ Manufacture_request.Description|slice:":120" }}... </p>
                  </td>
                </tr>
                {% endfor %}

                {% for Component_request in sr %}
                <tr>
                  <td>
                    <p class="title"> <a href="{{ Component_request.get_absolute_url }}"> ساخت {{ Component_request }} </a>  </p>
                  </td>
                  <td>
                    <p class="text-muted"> {{ Component_request.Description|slice:":120" }}... </p>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>






{% endif %}








{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
